@lineHeight: 48px;

html,
body,
#app,
#root {
  height: 100%;
}

// 最外层布局
.av-basicLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

// 导航栏
.av-global-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  > * {
    height: 100%;
  }

  &-account-name {
    vertical-align: unset;
  }

  &-account-avatar {
    margin: 12px 8px 12px 0;
    color: #1890ff;
    vertical-align: top;
    background: hsla(0, 0%, 100%, 0.85);
  }

  // 菜单栏收缩按钮
  .av-global-header-collapsed-button {
    display: flex;
    align-items: center;
    margin-left: 16px;
    font-size: 20px;
  }

  // 面包屑导航
  .av-global-header-breadcrumb {
    flex: 1 1 0%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

// 下拉框
.av-dropdown {
  height: 48px;
  line-height: @lineHeight;
  vertical-align: top;
  cursor: pointer;
  display: inline-block;

  > span {
    font-size: 16px !important;
    transform: none !important;
  }

  // 下拉框两边留白
  &.av-dropdown-action {
    padding: 0 12px;
  }
}
.av-page {
  &-header {
    background-color: #fff;
  }

  &-content {
    width: 100%;
    &-children {
      box-sizing: border-box;
      &-container {
        margin: 24px 24px 0;
      }
    }
  }
}

.av-tabs {
  background: rgb(255, 255, 255);
  margin: 0px;
  padding-top: 6px;
  width: 100%;
  > :first-child {
    padding-left: 16px;
  }
  &-icon {
    font-size: 12px;
    margin-left: 8px;
  }
  &-span {
    line-height: 38px;
    text-align: center;
    // font-size: 14px;
  }
}

.av-content {
  margin: 0;
  min-height: "280px";
  &-div {
    min-height: 100%;
  }
}
