@lineHeight: 48px;

// 最外层布局
.public-basicLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

// 导航栏
.public-global-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  > * {
    height: 100%;
  }

  &-account-name {
    vertical-align: unset;
  }

  &-account-avatar {
    margin: 12px 8px 12px 0;
    color: #1890ff;
    vertical-align: top;
    background: hsla(0, 0%, 100%, 0.85);
  }

  // 菜单栏收缩按钮
  .public-global-header-collapsed-button {
    display: flex;
    align-items: center;
    margin-left: 16px;
    font-size: 20px;
  }

  // 面包屑导航
  .public-global-header-breadcrumb {
    flex: 1 1 0%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

// 下拉框
.public-dropdown {
  height: 48px;
  line-height: @lineHeight;
  vertical-align: top;
  cursor: pointer;
  display: inline-block;

  > span {
    font-size: 16px !important;
    transform: none !important;
  }

  // 下拉框两边留白
  &.public-dropdown-action {
    padding: 0 12px;
  }
}
